@model IEnumerable<Wardrobe.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row">
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                @{string test = @Html.DisplayFor(modelItem => item.Top.TopPhoto).ToString();
                <img class="visible-md-block img-fluid" src="@Html.DisplayFor(modelItem=>item.Top.TopPhoto)" alt=":)">
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
        </div>
}



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accessory.AccessoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bottom.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sho.ShoeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top.TopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accessory.AccessoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bottom.BottomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sho.ShoeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top.TopName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutfitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutfitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutfitID })
        </td>
    </tr>
}

</table>*@
